<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/vr49fjmt00m51.jpg);">
  <div class="container">
    <h1>Movie Lists</h1>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
    <p><%= link_to "New List", new_list_path, class:"btn btn-outline-primary my-3" %></p>
  </div>
</div>

<!-- <h1>Lists</h1> -->



<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st4.depositphotos.com/1517439/41744/v/600/depositphotos_417449668-stock-video-old-movie-countdown-animation-black.jpg)">
    <p><%= link_to list.name, list %></p>
  </div>
<% end %>
